section h2.section-heading {
    margin-bottom: 75px;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 35px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #fed136;
}


/* JS Exercises */
#jse-tab1 .jse-body .row {
    min-height: 31px;
}

.jse-description {
    margin-top: 30px;
    padding: 10px;
}

.jse-buttons {
    margin: 30px;
}

.jse-buttons button {
    min-width: 100px;
    margin: 5px;
}

.jse-body {
    margin: 20px 0;
}


/* Resume */
.resume-entry {
    text-align: center;
    margin-top: 40px;
}

.resume-link {
    display: block;
    position: relative;
    /* max-width: 400px; */
    margin: 0 auto;
}