body {
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    background-color: #fed136;
}

.jse-description {
    margin-top: 30px;
    padding: 10px;
}

.jse-buttons {
    margin: 30px;
}

.jse-body {
    margin: 20px 0;
}